/* [project]/src/styles/abstracts/functional-variables.css [app-client] (css) */
:root {
  --color-background: var(--color-white);
  --color-background-subtle: var(--color-gray-50);
  --color-background-sunken: var(--color-gray-100);
  --color-background-inverse: var(--color-gray-900);
  --color-background-brand-bold: var(--color-blue-700);
  --color-background-brand-bold-hovered: var(--color-blue-800);
  --color-background-brand-bold-pressed: var(--color-blue-900);
  --color-background-brand-subtlest: var(--color-blue-50);
  --color-background-brand-subtlest-hovered: var(--color-blue-100);
  --color-background-accent-bold: var(--color-orange-500);
  --color-background-accent-bold-hovered: var(--color-orange-600);
  --color-background-accent-bold-pressed: var(--color-orange-700);
  --color-background-neutral: var(--color-gray-100);
  --color-background-neutral-hovered: var(--color-gray-200);
  --color-background-neutral-pressed: var(--color-gray-300);
  --color-background-danger: var(--color-red-50);
  --color-background-danger-bold: var(--color-red-600);
  --color-background-warning: var(--color-amber-50);
  --color-background-warning-bold: var(--color-amber-500);
  --color-background-success: var(--color-green-50);
  --color-background-success-bold: var(--color-green-600);
  --color-background-information: var(--color-blue-50);
  --color-background-information-bold: var(--color-blue-500);
  --color-background-input: var(--color-white);
  --color-background-disabled: var(--color-gray-100);
  --color-background-overlay: var(--color-white);
  --color-background-blanket: #091e428a;
  --color-text: var(--color-gray-900);
  --color-text-subtle: var(--color-gray-700);
  --color-text-subtlest: var(--color-gray-500);
  --color-text-disabled: var(--color-gray-400);
  --color-text-inverse: var(--color-white);
  --color-text-inverse-subtle: var(--color-blue-200);
  --color-text-brand: var(--color-blue-700);
  --color-text-accent: var(--color-orange-600);
  --color-text-danger: var(--color-red-600);
  --color-text-warning: var(--color-amber-800);
  --color-text-warning-inverse: var(--color-gray-900);
  --color-text-success: var(--color-green-700);
  --color-text-information: var(--color-blue-700);
  --color-text-selected: var(--color-blue-700);
  --color-border: var(--color-gray-200);
  --color-border-bold: var(--color-gray-300);
  --color-border-brand: var(--color-blue-600);
  --color-border-accent: var(--color-orange-500);
  --color-border-focused: var(--color-blue-500);
  --color-border-danger: var(--color-red-500);
  --color-border-disabled: var(--color-gray-200);
  --color-border-inverse: var(--color-white);
  --color-border-inverse-subtle: var(--color-blue-800);
  --color-icon: var(--color-gray-700);
  --color-icon-subtle: var(--color-gray-500);
  --color-icon-inverse: var(--color-white);
  --color-icon-brand: var(--color-blue-600);
  --color-icon-accent: var(--color-orange-500);
  --color-icon-danger: var(--color-red-600);
  --color-icon-success: var(--color-green-600);
  --color-icon-warning: var(--color-amber-600);
  --color-link: var(--color-blue-700);
  --color-link-hovered: var(--color-blue-800);
  --color-link-pressed: var(--color-blue-900);
  --color-link-visited: var(--color-purple-700);
  --elevation-surface: var(--color-white);
  --elevation-surface-raised: var(--color-white);
  --elevation-surface-sunken: var(--color-gray-50);
  --elevation-surface-overlay: var(--color-white);
  --elevation-shadow-raised: 0 1px 1px #091e4214,
    0 0 1px #091e4226;
  --elevation-shadow-overlay: 0 8px 12px #091e4226,
    0 0 1px #091e4240;
  --elevation-shadow-overflow: 0 0 0 1px #091e4214;
  --font-heading-xxlarge-size: var(--font-size-1000);
  --font-heading-xxlarge-weight: var(--font-weight-bold);
  --font-heading-xxlarge-line-height: var(--line-height-200);
  --font-heading-xlarge-size: var(--font-size-900);
  --font-heading-xlarge-weight: var(--font-weight-bold);
  --font-heading-xlarge-line-height: var(--line-height-200);
  --font-heading-large-size: var(--font-size-800);
  --font-heading-large-weight: var(--font-weight-bold);
  --font-heading-large-line-height: var(--line-height-300);
  --font-heading-medium-size: var(--font-size-700);
  --font-heading-medium-weight: var(--font-weight-semibold);
  --font-heading-medium-line-height: var(--line-height-300);
  --font-heading-small-size: var(--font-size-500);
  --font-heading-small-weight: var(--font-weight-semibold);
  --font-heading-small-line-height: var(--line-height-300);
  --font-heading-xsmall-size: var(--font-size-400);
  --font-heading-xsmall-weight: var(--font-weight-semibold);
  --font-heading-xsmall-line-height: var(--line-height-400);
  --font-body-large-size: var(--font-size-400);
  --font-body-large-weight: var(--font-weight-regular);
  --font-body-large-line-height: var(--line-height-400);
  --font-body-size: var(--font-size-300);
  --font-body-weight: var(--font-weight-regular);
  --font-body-line-height: var(--line-height-400);
  --font-body-small-size: var(--font-size-200);
  --font-body-small-weight: var(--font-weight-regular);
  --font-body-small-line-height: var(--line-height-300);
}

/*# sourceMappingURL=src_styles_abstracts_functional-variables_css_1igg3k2._.single.css.map*/